<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/main.css">
    <title>File Converter V1.0</title>
</head>

<body id="body">
    <h1>Welcome to File Converter V1.0</h1>
    <h2>Upload a file by Dragging it Below (Or Click to Browse)</h2>
    <div class="drag-area">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>Drag & Drop to Upload .csv, .html, .json, or .md File</header>
        <span>OR</span>
        <button>Browse File</button>
        <input type="file" hidden>
    </div>
    <script src="../js/Controller.js"></script>

</body>

</html>